# Xcode
DerivedData/
*.xcuserdata/
*.xcuserstate
*.moved-aside
*.xccheckout
*.xcscmblueprint

# SwiftPM
.build/
Packages/
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# macOS
.DS_Store
